apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: daegon7/demo-app
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_APPLICATION_NAME
              value: demo
            - name: SERVER_PORT
              value: "8081"
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://host.docker.internal:3306/sampledb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: YourStrong@Passw0rd
            - name: SPRING_DATA_REDIS_HOST
              value: host.docker.internal
            - name: SPRING_DATA_REDIS_PORT
              value: "6379"
            - name: SPRING_DATA_REDIS_PASSWORD
              value: yourStrongPassword